<!-- 
    What is angular?
        opensource frontend framework for building client applications
        - we utilize a framework because programming in vanilla html, css and js can become tedious
        - Angular is component-based
            - meaning that each piece of the html page will actually be a fragment of html css and ts
        - Googles creation (fun fact: React is Meta's creation)

    Angular js vs Angular:
        - AngularJS (Angular 1) is heavily based in javascript and as a result is a completely different framework in usability. 
        - We are using Angular 2+, not angular JS
    
    What is Single Page Application (SPA)?
        - an application that is constructed using only a single HTML page.
        - views of that one page is modified by display and removing certain components

    What is a component?    
        - a fragment of HTML, CSS and TypeScript
        - components can be added and removed on the SPA


 -->

<!-- <h1>Hello Angular</h1> -->

<!-- <onewaybinding></onewaybinding> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-pipeexample></app-pipeexample> -->
<!-- <app-one></app-one> -->
<!-- <app-directiveexample></app-directiveexample> -->
<app-parent></app-parent>